{
  "env": {
    "jest/globals": true,
    "browser": false,
    "node": true,
    "es6": true
  },
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "extends": ["plugin:jest/recommended"]
}
